{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="wpo-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Blog Single</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><span>{{ show.category.name }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="wpo-blog-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-12">
                        <div class="wpo-blog-content">
                            <div class="post format-standard-image">
                                <div class="entry-media"><img src="media/{{ show.img }}" alt=""></div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="fi flaticon-user"></i>By <a
                                                href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">{{ show.user }}</a></li>
                                        <li><i class="fi flaticon-comment-white-oval-bubble"></i>{{ show.views}}</li>
                                        <li><i class="fi flaticon-calendar"><img src="{% static 'rq.png' %}" alt=""></i>{{ show.created_time}}</li>
                                    </ul>
                                </div>
                                <h2>{{ show.title }}</h2>
                                <p>{{ show.body|safe }}</p>
                                <div class="gallery">
                                    <div><img src="{% static 'img-3(1).jpg' %}" alt=""></div>
                                    <div><img src="{% static 'img-2(1).jpg' %}" alt=""></div>
                                </div>
                            </div>
                            <div class="tag-share clearfix">
                                <div class="tag"><span>Share:</span>
                                    <ul>
                                        {% for tag in show.tags.all %}
                                        <li><a
                                                href="{% url 'index' %}tag/{{ tag.name }}">{{ tag.name }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                                <br>
                                <div><b>上一篇：</b>
                                    {% if netx_blog %}
                                        <a href="show-{{ netx_blog.pk }}.html" class="article-tag">{{ netx_blog }}</a>
                                    {% else %}
                                        没有了
                                    {% endif %}
                                </div>
                                <div><b>下一篇：</b>
                                    {% if previous_blog %}
                                        <a href="show-{{ previous_blog.pk }}.html" class="article-tag">{{ previous_blog }}</a>
                                    {% else %}
                                        没有了
                                    {% endif %}
                                </div>
                            </div>




                            <div class="tag-share-s2 clearfix">
                                <div class="tag"><span>Share:</span>
                                    <ul>
                                        <li><a
                                                href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">facebook</a>
                                        </li>
                                        <li><a
                                                href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">twitter</a>
                                        </li>
                                        <li><a
                                                href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">linkedin</a>
                                        </li>
                                        <li><a
                                                href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">pinterest</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="author-box">
                                <div class="author-avatar"><a
                                        href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"
                                        target="_blank"><img src="./author.jpg" alt=""></a></div>
                                <div class="author-content"><a
                                        href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"
                                        class="author-name">{{ show.user}}</a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium,totam rem aperiam,eaque ipsa quae ab illo inventore
                                        veritatis.</p>
                                    <div class="socials">
                                        <ul class="social-link">
                                            <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><i
                                                        class="ti-facebook"></i></a></li>
                                            <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><i
                                                        class="ti-twitter-alt"></i></a></li>
                                            <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><i
                                                        class="ti-linkedin"></i></a></li>
                                            <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><i
                                                        class="ti-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="more-posts">
                                <div class="previous-post"><a
                                        href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><span
                                            class="post-control-link">Previous Post</span><span class="post-name">At
                                            vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                            praesentium.</span></a></div>
                                <div class="next-post"><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/0"><span
                                            class="post-control-link">Next Post</span><span
                                            class="post-name">Dignissimos ducimus qui blanditiis praesentiu deleniti
                                            atque corrupti quos dolores</span></a></div>
                            </div>
                            <div class="comments-area">
                                <div class="comments-section">
                                    <h3 class="comments-title">5 Comments</h3>
                                    <ol class="comments">
                                        <li class="comment even thread-even depth-1" id="comment-1">
                                            <div id="div-comment-1">
                                                <div class="comment-theme">
                                                    <div class="comment-image"><img src="./img-1(1).jpg" alt=""></div>
                                                </div>
                                                <div class="comment-main-area">
                                                    <div class="comment-wrapper">
                                                        <div class="comments-meta">
                                                            <h4>Robert Sonny <span class="comments-date">says Jul
                                                                    21,2022 at 10:00am</span></h4>
                                                        </div>
                                                        <div class="comment-area">
                                                            <p>I must explain to you how all this mistaken idea of
                                                                denouncing pleasure and praising pain was born and I
                                                                will give you a complete account of the system</p>
                                                            <div class="comments-reply"><a class="comment-reply-link"
                                                                    href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><span>Reply</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="children">
                                                <li class="comment">
                                                    <div>
                                                        <div class="comment-theme">
                                                            <div class="comment-image"><img src="./img-2(2).jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="comment-main-area">
                                                            <div class="comment-wrapper">
                                                                <div class="comments-meta">
                                                                    <h4>John Abraham <span class="comments-date">says
                                                                            Jul 21,2022 at 10:00am</span></h4>
                                                                </div>
                                                                <div class="comment-area">
                                                                    <p>I must explain to you how all this mistaken idea
                                                                        of denouncing pleasure and praising pain was
                                                                        born and I will give you a complete account of
                                                                        the system</p>
                                                                    <div class="comments-reply"><a
                                                                            class="comment-reply-link"
                                                                            href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><span>Reply</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul>
                                                        <li class="comment">
                                                            <div>
                                                                <div class="comment-theme">
                                                                    <div class="comment-image"><img src="./img-3(2).jpg"
                                                                            alt=""></div>
                                                                </div>
                                                                <div class="comment-main-area">
                                                                    <div class="comment-wrapper">
                                                                        <div class="comments-meta">
                                                                            <h4>Robert Sonny <span
                                                                                    class="comments-date">says Jul
                                                                                    21,2022 at 10:00am</span></h4>
                                                                        </div>
                                                                        <div class="comment-area">
                                                                            <p>I must explain to you how all this
                                                                                mistaken idea of denouncing pleasure and
                                                                                praising pain was born and I will give
                                                                                you a complete account of the system</p>
                                                                            <div class="comments-reply"><a
                                                                                    class="comment-reply-link"
                                                                                    href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><span>Reply</span></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="comment">
                                            <div>
                                                <div class="comment-theme">
                                                    <div class="comment-image"><img src="./img-1(1).jpg" alt=""></div>
                                                </div>
                                                <div class="comment-main-area">
                                                    <div class="comment-wrapper">
                                                        <div class="comments-meta">
                                                            <h4>John Abraham <span class="comments-date">says Jul
                                                                    21,2022 at 10:00am</span></h4>
                                                        </div>
                                                        <div class="comment-area">
                                                            <p>I must explain to you how all this mistaken idea of
                                                                denouncing pleasure and praising pain was born and I
                                                                will give you a complete account of the system</p>
                                                            <div class="comments-reply"><a class="comment-reply-link"
                                                                    href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><span>Reply</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                                <div class="comment-respond">
                                    <h3 class="comment-reply-title">Leave a reply</h3>
                                    <form class="comment-form">
                                        <div class="form-inputs"><input placeholder="Name" type="text"><input
                                                placeholder="Email" type="email"><input placeholder="Website"
                                                type="url"></div>
                                        <div class="form-textarea"><textarea id="comment"
                                                placeholder="Write Your Comments..."></textarea></div>
                                        <div class="form-submit"><input id="submit" value="Post Comment" type="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-12">
                        <div class="blog-sidebar">
                            <div class="widget about-widget">
                                <div class="img-holder"><img src="./about-widget.jpg" alt=""></div>
                                <h4>Jenny Watson</h4>
                                <p>Hi!beautiful people. I`m an authtor of this blog. Read our post - stay with us</p>
                                <div class="social">
                                    <ul class="clearfix">
                                        <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><i
                                                    class="ti-facebook"></i></a></li>
                                        <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><i
                                                    class="ti-twitter-alt"></i></a></li>
                                        <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><i
                                                    class="ti-linkedin"></i></a></li>
                                        <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><i
                                                    class="ti-pinterest"></i></a></li>
                                    </ul>
                                </div>
                                <div class="aw-shape"><img src="./ab.png" alt=""></div>
                            </div>
                            <div class="widget search-widget">
                                <form>
                                    <div><input type="text" class="form-control" placeholder="Search Post.."><button
                                            type="submit"><i class="ti-search"></i></button></div>
                                </form>
                            </div>
                            <div class="widget category-widget">
                                <h3>Categories</h3>
                                <ul>
                                    <li><a
                                            href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Lifestyle<span>(05)</span></a>
                                    </li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Inspiration
                                            <span>(07)</span></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Fashion
                                            <span>(03)</span></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Photography
                                            <span>(06)</span></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Travel
                                            <span>(12)</span></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Business
                                            <span>(08)</span></a></li>
                                </ul>
                            </div>
                            <div class="widget recent-post-widget">
                                <h3>Related Posts</h3>
                                <div class="posts">
                                    <div class="post">
                                        <div class="img-holder"><img src="./img-1.jpg" alt=""></div>
                                        <div class="details"><span class="date">19 Jun 2022 </span>
                                            <h4><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Perfect
                                                    Photo Clicking Idea You Must Know.</a></h4>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="img-holder"><img src="./img-2.jpg" alt=""></div>
                                        <div class="details"><span class="date">22 May 2022 </span>
                                            <h4><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Best
                                                    tourism site all over the world.</a></h4>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="img-holder"><img src="./img-3.jpg" alt=""></div>
                                        <div class="details"><span class="date">12 Apr 2022 </span>
                                            <h4><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Whats
                                                    In Trend in Now Woman Fashion.</a></h4>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="img-holder"><img src="./img-4.jpg" alt=""></div>
                                        <div class="details"><span class="date">12 Apr 2022 </span>
                                            <h4><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html">Top
                                                    10 Healthy Food of Your Menu.</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget wpo-instagram-widget">
                                <div class="widget-title">
                                    <h3>Instagram</h3>
                                </div>
                                <ul class="d-flex">
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><img
                                                src="./13.jpg" alt=""></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><img
                                                src="./14.jpg" alt=""></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><img
                                                src="./15.jpg" alt=""></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><img
                                                src="./16.jpg" alt=""></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><img
                                                src="./17.jpg" alt=""></a></li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#"><img
                                                src="./18.jpg" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="widget tag-widget">
                                <h3>Tags</h3>
                                <ul>
                                    <li><a
                                            href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Travel</a>
                                    </li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Food</a>
                                    </li>
                                    <li><a
                                            href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Lifestyle</a>
                                    </li>
                                    <li><a
                                            href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Business</a>
                                    </li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Idea</a>
                                    </li>
                                    <li><a
                                            href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Finance</a>
                                    </li>
                                    <li><a
                                            href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Corporate</a>
                                    </li>
                                    <li><a
                                            href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Culture</a>
                                    </li>
                                    <li><a href="http://v.bootstrapmb.com/2022/8/erm2i12865/blog-single.html#">Gym</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="wpo-contact-widget widget">
                                <h2>How We Can <br>Help You!</h2>
                                <p>labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                    viverra maecenas accumsan lacus vel facilisis. </p><a
                                    href="http://v.bootstrapmb.com/2022/8/erm2i12865/contact.html">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}